<div style="margin:50px">
    <form method="post" action="/Account/Login">
        <div class="col-md-6 offset-3">
            <input style="margin:5px" name="Email" class="form-control" />
            <input style="margin:5px" type="password" name="Password" class="form-control" />
            <button style="margin:5px" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>