@model User
<div style="margin:50px">
    <form method="post" action="/home/NewAd">
        <div class="col-md-6 offset-3">
            <input type="hidden" name="userID" value="@Model.ID" />
            <input required class="form-control" name="Text" placeholder="Describtion" />
            <button class="btn btn-primary">Post</button>
        </div>
    </form>
</div>